<!-- cabecera -->
<mat-toolbar color="primary">
    <span>Prueba Satrack</span>
    <span class="toolbar-spacer"></span>

    <button (click)="closeSession()" mat-raised-button color="accent">
        <mat-icon>logout</mat-icon>
        Cerrar sesión
    </button>
</mat-toolbar>

<!-- cuerpo -->
<router-outlet></router-outlet>

<!-- animación de cargando -->
<div *ngIf='loadingApiService.isLoading | async' id='container-loading'>
    <div id='spinner'>
        <mat-spinner></mat-spinner>
    </div>
</div>