<div class="m-20">
    <h2>Iniciar Sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="container-field">
            <mat-form-field appearance="outline">
                <mat-label>Correo Electrónico</mat-label>
                <input matInput formControlName="email" required>
            </mat-form-field>
        </div>

        <div class="container-field">
            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password" required>
            </mat-form-field>
        </div>

        <br/>

        <div class="h-btns">
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
                Iniciar Sesión
            </button>

            <button mat-stroked-button color="primary" type="button" (click)="openRegister()">¿No tienes cuenta?
            </button>
        </div>
    </form>
</div>
